@model IEnumerable<Menu>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section addcss{
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css">

}


<div class="page-wrapper">
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Menyu Admin Səhifəsi</h4>
                        <span>
                            Bu hissədə menyu üzərində ehtiyaclara uyğun
                            əməliyyatlar icra oluna bilər
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item" style="float: left;">
                            <a asp-controller="Dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                        </li>

                        <li class="breadcrumb-item" style="float: left;">
                            <span>Menyu</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Menyu Adı
                                </th>
                                <th>
                                    Menyu Controller Adı
                                </th>
                                <th>
                                    Aid Olduğu Menyu Adı
                                </th>

                                <th class="operations">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="ellipse">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="ellipse ">
                                        @Html.DisplayFor(modelItem => item.ControllerName)
                                    </td>
                                    <td class="ellipse ">
                                        @if (item.ParentId == null)
                                        {
                                            <span style="color:red">Mövcud Deyil</span>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Parent.Name)
                                        }
                                    </td>
                                    <td class="operations table-imaged">

                                        @*@if (User.HasAccess("admin.roomtypes.details"))
                                    }
                                    {*@
                                        <a asp-action="DeletedDetails" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="fa-solid fa-eye"></i></a>
                                        @*@if (User.HasAccess("admin.roomtypes.delete"))
                                    }
                                    {*@<a class="btn btn-sm btn-danger" onclick="deletebackEntity('@item.Id', '@item.Name')"><i class="fa-solid fa-rotate-left"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>
@section addjs{
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/toastr.js/toastr.customize.js"></script>

    <script class="removeable">
        function deletebackEntity(id, name) {
            swal(`Are you sure you want to get back ${name}?`, {
                title: "Diqqet!",
                text: `Are you sure you want to get back ${name}?`,
                icon: "warning",
                buttons: true,
                dangerMode: true,
                buttons: ["No", "Yes"]
            })
                .then((value) => {
                    if (value == true) {
                        let vToken = $('[name=__RequestVerificationToken]').val();
                        let formData = new FormData();
                        formData.set('__RequestVerificationToken', vToken);
                        formData.set('id', id);
                        $.ajax({
                            url: `@Url.Action("GetBackDeletedMenus")`,
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                console.log(response)
                                if (response.error == true) {
                                    toaster.error(response.message, "Xeta");
                                    return;
                                }
                                location.reload();
                            },
                            error: function (errorResponse) {
                                console.error(errorResponse);
                            }
                        });
                    }
                });
        }


    </script>
     }
