@model Menu

@{
    ViewData["Title"] = "Details";
}

<h1>Detallı</h1>


<h4>Menyu</h4>
<hr />
<div class="page-wrapper">
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Menyu Admin Səhifəsi</h4>
                        <span>
                            Bu hissədə menyu haqqında ətraflı məlumat
                            ala bilərsiz
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item" style="float: left;">
                            <a asp-controller="Dashboard" asp-action="index"> <i class="feather icon-home"></i> </a>
                        </li>
                        @*@if (User.HasAccess("admin.rooms.index"))
                        }
                        {*@
                        <li class="breadcrumb-item" style="float: left;">
                            <a asp-action="index">Menyu</a>
                        </li>
                        <li class="breadcrumb-item" style="float: left;">
                            <span>Detallı</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">


                        <div class="card-header-right">
                            <i class="icofont icofont-spinner-alt-5"></i>
                        </div>

                    </div>
                    <div class="card-block">

                        <div>
                            <div class="form-group row">
                                <label asp-for="Name" class="col-sm-3 col-form-label">Menyu Adı:</label>
                                <p class="fix-row">
                                    @Model.Name
                                </p>
                            </div>

                            <div class="form-group row">
                                <label asp-for="ControllerName" class="col-sm-3 col-form-label">Menyu Controller Adı:</label>
                                <div class="fix-row">
                                    @Html.Raw(Model.ControllerName)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Parent" class="col-sm-3 col-form-label">Aid Olduğu Menyu Adı:</label>
                                @if (Model.ParentId == null)
                                {
                                    <div class="fix-row">
                                        <span style="color:red">Mövcud Deyil</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="fix-row">
                                        @Model.Parent.Name
                                    </div>
                                }
                            </div>
                            <div class="form-group row">
                                <label asp-for="CreatedDate" class="col-sm-3 col-form-label">Məlumatin Yaranma Tarixi:</label>
                                <div class="fix-row">
                                    @Html.Raw(Model.CreatedDate)
                                </div>
                            </div>
                            @if (Model.UpdatedDate != null)
                            {
                                <div class="form-group row">
                                    <label asp-for="UpdatedDate" class="col-sm-3 col-form-label">Məlumatin Redaktə Tarixi:</label>
                                    <div class="fix-row">
                                        @Html.Raw(Model.UpdatedDate)
                                    </div>
                                </div>
                            }
                            @if (Model.DeletedDate != null)
                            {
                                <div class="form-group row">
                                    <label asp-for="DeletedDate" class="col-sm-3 col-form-label">Məlumatin Silinmə Tarixi:</label>
                                    <div class="fix-row">
                                        @Html.Raw(Model.DeletedDate)
                                    </div>
                                </div>
                            }
                            @if (Model.CreatedbyUserId != null)
                            {
                                <div class="form-group row">
                                    <label asp-for="CreatedbyUserId" class="col-sm-3 col-form-label">Məlumati Yaradan Şəxs:</label>
                                    <div class="fix-row">
                                        @Html.Raw(Model.CreatedbyUserId)
                                    </div>
                                </div>
                            }
                            <div class="form-group row">
                                <div class="col-12 d-flex justify-content-end">
                                    
                                    @*@if (User.HasAccess("admin.rooms.index"))
                                    }
                                    {*@
                                    <a asp-controller="menu" asp-action="deletedindex" class="btn btn-info">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section addcss{
    <style>
        .fix-row {
            text-transform: capitalize;
        }
    </style>
}